<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDb" connectionString="Server=.;Database=App_NguoiDung;Trusted_Connection=True;TrustServerCertificate=True;" />
		<add name="LearningDb" connectionString="Server=.;Database=App_HeThongBaiHoc;Trusted_Connection=True;TrustServerCertificate=True;" />
		<add name="SocialDb" connectionString="Server=.;Database=App_MXH;Trusted_Connection=True;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>