<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NguoiDung"
             connectionString="Data Source=.;
             Initial Catalog=App_NguoiDung;
             User ID=sa;
             Password=D10112005;
             Encrypt=False;
             TrustServerCertificate=True;" />

		<add name="HocTap"
             connectionString="Data Source=.;
             Initial Catalog=App_HeThongBaiHoc;
             User ID=sa;
             Password=D10112005;
             Encrypt=False;
             TrustServerCertificate=True;" />

		<add name="MXH"
             connectionString="Data Source=.;
             Initial Catalog=App_MXH;
             User ID=sa;
             Password=D10112005;
             Encrypt=False;
             TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>