<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="NguoiDung"
			 connectionString="Server=tcp:danhkay.database.windows. net,1433;Initial Catalog=App_NguoiDung;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication=Active Directory Default;" />

		<add name="HocTap"
			 connectionString="Server=tcp: danhkay. database.windows.net,1433;Initial Catalog=App_HeThongBaiHoc;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication=Active Directory Default;" />

		<add name="MXH"
			 connectionString="Server=tcp: danhkay.database.windows.net,1433;Initial Catalog=App_MXH;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication=Active Directory Default;" />

	</connectionStrings>

</configuration>